@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Karla', sans-serif !important;
  position: relative;
}


.auth__box{
  background-color: #062863;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.auth__header{
  color: #083e9e;
  font-size: 1.25em;
  font-weight: 700;
}

.auth__desc{
  color: #4a5568;
  font-size: .875em;
}

.auth__form__box{
  border-radius: 1.25em;
  padding: 2em;
  max-width: 28em;
  width: 28em;
}

@media (max-width: 500px) {
  .auth__form__box{
    width: 20em;
  }
}

.logo__text{
  font-size: 1.2em;
  color: #fff;
}


.auth__input{
  padding: 1em !important;
  color: #1a202c !important;
  outline: none !important;
  border-radius: .25em !important;
  background-color: #edf2f7 !important;
  height: 50px !important;
}

.auth__label{
  color: #4a5568 !important;
  line-height: 1em !important;
  margin-bottom: .25em !important;
  font-size: .75em !important;
  font-weight: 700 !important;
}

.auth__btn{
  width: 100% !important;
  font-size: 1.125em !important;
  text-transform: uppercase !important;
  color: #fff !important;
  background-color: #0d60d8 !important;
  border-radius: .5em !important;
  height: 50px !important;
}
